/*font-family*/

p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Indie Flower', cursive;
}

/*font-size*/
body {
	font-size: 10px;
}

h1 {
	font-size: 5.8em;
}

p {
	font-size: 2.0em;
}

span {
	font-size: 2.8em;
}
/*font-weight*/

 p {
 	font-weight: bold;
 }

/*line-height*/

p {
	line-height: 1.5;
}

/*text-align*/

h1 {
	text-align: right;
}

p {
	text-align: center;
}
/*text-decoration*/

p {
	text-decoration: underline;
}

h1 {
	text-decoration: line-through;
}









