
img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 150px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 10px solid #f1f1f1;
	width: 20%;
	padding-bottom: 60px;
}